.login-box {
  border: 0.1px solid #000;
  margin-top: 35px;
  height: 410px;
  display: flex;
  justify-content: center;
}

.login {
  width: 75%;
}

.login-header {
  font-size: 48px;
  font-weight: 400;
}

.input-field {
  margin-top: 15px;
}

.login-lable {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.input {
  width: -moz-available;
  width: 98%;
  height: 36px;
  font-family: "Lato", sans-serif !important;
  font-size: 16px;
  font-weight: 300;
}

.login-footer {
  margin-top: 38px;
}

.button {
  background-color: #000 !important;
  border-radius: 0px !important;
  width: 100%;
  padding: 10px !important;
  font-family: "Lato", sans-serif !important;
}
