/* Orders Component */

.orders-grid {
  margin-top: 10px !important;
  background-color: #d4d0d3;
}

.orders-grid-nav {
  background-color: #322d3a !important;
  align-items: stretch !important;
}

.orders-nav {
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-nav:hover {
  background-color: #3d898d !important;
}

.orders-nav-p {
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}

.new-order-box {
  margin: 10px 0;
}
